[submodule "src/kernelsu/KernelSU"]
	path = src/kernelsu/KernelSU
	url = https://github.com/tiann/KernelSU.git
[submodule "src/kernelsu/Root-My-Device-KSU"]
	path = src/kernelsu/Root-My-Device-KSU
	url = https://github.com/tqmane/Root-My-Device-KSU.git
	branch = rmn-final-vector
